/*selector {property: value;}*/


h1 {color:  red; background-color: brown; font-size:20px; font-family: Courier,monospace; line-height: 1.6; letter-spacing: 20px; font-weight: bold; text-decoration: none; }


/*body {font-family: Times,serif;}*/
/*body {font-family: Arial,serif;}*/

body { font-size: 50px ; text-justify:  justify}


div {width: 400px; height:  100px; margin: 100px; padding: 40px 30px; box-shadow: darkred; border: 1px solid rosybrown; box-shadow: 10px 20px 30px blueviolet;}


#id1 {color:  blue;}

/*#id0909 {width: 150px }*/

.style-one {color: purple;}

.style-two {color: green}

.lastsection {width: 1000px; height: 100px}

/*body{ font-family: Times; }*/

