

h1 {color:  red; background-color: yellow;}


/*body {font-family: Times,serif;}*/
/*body {font-family: Arial,serif;}*/

body { font-size: 30px }

body {text-justify:  center }

div {width: 300px; height:  150px; box-shadow: darkred;}

#id1 {color:  blue;}

.style-one {color: purple;}

/*body{ font-family: Times; }*/

